<div class="container">
  <h4>Doctors</h4>

  <div>
    <ul class="collection">
      <% @all_doctors.sort_by(&:first_name).each do |doctor| %>
        <li class="collection-item">
          <%= link_to(doctor.first_name, "/doctors/#{doctor.id}") %>  <%= link_to(doctor.last_name, "/doctors/#{doctor.id}") %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
